*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 70%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* height da cancellare */
    /* height: 100%; */
    /* background-color: orange; */
}
/* sfondo header */
.container.sfondo{
    background-image: url(https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
}
/* definizione del nav e del suo contenuto */
nav{
    height: 80px;
    /* background-color: white; */
    padding: 10px 0;
    line-height: 80px;
    font-size: 12px;
}

.logo img{
    float: left;
    margin: 10px 0;
}

.menu{
    float: left;
    vertical-align: middle;
}

.right{
    float:left;
    margin-left: 75px;
}

ul li{
    display: inline-block;
    color: white;
    padding: 0 10px;
}

nav .menu{
    margin: 0 30px;
}



.titolo{
    width: 50%;
    height: 420px;
    padding: 100px 10px;
    /* background-color: orange; */
}

h1{
    font-size: 40px;
    color: white;
}

.titolo div{
    margin: 30px 0;
}

.blu{
    height: 500px;
    background-color: #0c325a;
}

.grigio{
    height: 100px;
    background-color: lightgray;
}

.sottotitolo{
    text-align: center;
    padding: 20px;
}

.sottotitolo h3{
    color: rgba(0, 0, 0, 0.6);
}

.bianco{
    height: 400px;
    background-color: white;
}

.box{
    height: 100%;
    width: 33.3333%;
    /* background-color: white;
    border: 1px solid black; */
    float: left;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
}

.box img{
    width: 120px;
    height: 120px;
}

.box h3{
    color: lightgreen;
}

.box p{
    color: rgba(0, 0, 0, 0.6);
}

.box h3, .box img, .box p{
    padding: 10px;
}

/* definizione dei bottoni */
button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 11px;
}

.right button:last-child, .titolo button{
    text-transform: uppercase;
    border: none;
    background-color: #7cbb02;
}
